@model List<CarViewModel> 

@{
    ViewData["Title"] = "Cars";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h3 class="page-title">Available cars.</h3>

    <div class="card">
        <div class="card-body">
            <a class="add-item" onclick="openModal('Cars', 'GetAddCarModal')">
                <img class="card-image" src="assets/add_item.png">
            </a>
        </div>
    </div>

    @foreach (var car in Model){
        <div class="card">
            <div class="card-body">
                <img class="card-image" src="https://previews.123rf.com/images/ylivdesign/ylivdesign1608/ylivdesign160801337/61153667-red-car-icon-in-flat-style-isolated-on-white-background.jpg">
                <h5 class="card-title">
                    @car.PlateNumber
                    <button type="button" class="btn btn-danger add-button action"
                       onclick="sendDeleteRequest('Cars', 'DeleteCar', { id: @car.Id })">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    <button type="button" class="btn btn-danger add-button action"
                            onclick="openModal('Cars', 'GetEditCarModal', { id: @car.Id })">
                        <i class="fa-solid fa-file-pen"></i>
                    </button>
                    <button type="button" class="btn btn-danger add-button action"
                            onclick="openModal('Cars', 'CarDetails', { id: @car.Id })">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                </h5>
                @* <p class="card-text"></p> *@
            </div>
        </div>
    }

    <partial name="_ModalPartial"/>
</div>
</body>
</html>