<div class="modal-body">
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-xl">
            <div id="partialViewContent">
            </div>
        </div>
    </div>
</div>